#notice{
    position: fixed;
    top:0;
    width:35vw;
    height: 100vh;
    background-color:#000;
    margin-left: 72vw;
    
}
#notice_board{
    top: 20px;
    width:18vw;
    color:white;
    font-weight: bold;
    height: 40vh;
    margin:17vh 4.5vw;
    border-radius: 20px;
    
}
