

#whole{
    background-color: black;
    height: 100vh;
}

#profile_card{
    width: 10vw;
    height: 35vh;
    display: flex;

}
#profile_btn{
    width: 10vw;
    height: 35vh;
    display: flex;
    margin-left: 50vw;
    
}
#profile_pic{
    height: 22vh;
    margin-left: 35vw;
    margin-top: 7vh;
    border-radius:50px ;

}
.text{

    color: rgb(253, 254, 255);
    

}
.follow{
    margin-right: 2vw;
}
#profile_follow{
    display: flex;
    color:white;
    margin-left: 47vw;
    text-align: center;
    margin-top:-18vh
}
#username{
    height: 20px;
    padding-left: 1vw;   
    padding-top: 10vh;
    margin-top: 1vh;
   

}
a{
    color: black;
}
#edit_profile{
    height: 3vh;
    width: 200px;
    border-radius: 25px;
    margin-right: 2vw;

}

#highlights{
    
    background-color: #fd5b5b;
    display: flex;
    position: fixed;

}
#light{
    width:60px;
    height: 60px;
    border-radius: 50px;
    background-color: aquamarine;
    
}

