#messages{
    width:60vw;
    height:83vh;
    margin-left: 27%;
    border: 1px solid grey;
    color:black;
    background-color: white;
}

#extra_div{
    height: 10vh;
}
#table{
    text-align: left;
    

}
.message_list{
    width: 18vw;
    height:73.5vh;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
   
    overflow-y: scroll;
    overflow-x: hidden;
}
.message_user{
    width: 18vw;
    height: auto;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    
}
.message_person{
    width:42vw;
    border-bottom: 1px solid grey;
    
}
.message_name{
    position: absolute;
    width:42vw;
    height: 73.5vh;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    border-bottom: 1px solid grey;
    text-align: center;
}
#mes{
    opacity: .1;
}
#person{
    /* position: relative; */
    width:17vw;
    height: auto;
    display: flex;
}
h3{
    margin-left: 1.4vw;
}
#chat_box{
    position: fixed;
  
    bottom: 7.1%;
    margin-left:46.5%;
    left:-1%
}
#chat_box input{
    padding: 3px;   
    width:38.4vw;
    border-radius: 5px;
    
}
#chat_box button{
    position: relative;
    padding: 3px;
    border-radius: 5px;
    background: steelblue;
    
}
#ext_div{
    height: 30px;
}
#msg{
    width:50%;
    height: auto;
    padding: 1%;
    margin: 1%;
    overflow-wrap: break-word;
    text-align: left;
    border-radius: 0px 15px 15px 15px;
    background-color: grey;
}


#msg_name{
    margin-left: -1%;
    font-weight: bold;
}