#stories{
    height: 10vh;
    width: 87vw;
    margin-left: 13%;
    background: #000;
    position:fixed;
    margin-top: 90vh;
    padding-top: .7%;
    padding-left: .7%;
    display: flex;

}
#story{
    width:60px;
    height: 60px;
    margin-right: .7%;
    border-radius: 50px;
    background-color: white;
}