#stories{
    height: 13vh;
    width: 40vw;
    margin-left: 26.5vw;
    background: #000;
    position:fixed;
    /* flex-wrap:wrap; */
    margin-top: 90vh;
    padding-top: .7%;
    /* padding-left: 8%; */
    display: flex;
    
    border: 1px solid white;
    overflow-x: auto;

}
#story{
    flex: 0 0 auto;
    width:60px;
    height: 60px;
    margin-right: .7%;
    border-radius: 50px;
    background-color: white;
    
}
#story img{
    width:60px;
    height: 60px;
    margin-right: .7%;
    border-radius: 50px;
    border: 1px solid black;
}