#whole{
    animation-duration: 1s;
}
#notifybody{
    background-color: rgb(87, 87, 87);
    color: rgb(255, 255, 255);
    position: fixed;
    margin-left: 17.5vw;
    margin-top: -69.4vh;
    width: 30vw;
    height: 85vh;
    border-radius: 20px;
    /* display: none; */
    display: none;
    
   
}
h1{
    padding-left: 7vw ;
}

.notify_head{
    padding-left: 8vh ;
    color: #FF9900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


